/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
    text-align: center;
    background-color: #171717;
    color:aliceblue;
}

.example-viewport {
    height: 200px;
    width: 200px;
    border: 3px solid black;
    padding: 3rem;
    margin: auto;
  }
  
  .example-item {
    height: 50px;
    color: aliceblue;
  }